p.messageText {
    background-color: cornflowerblue;
    color: white;
    padding: 6px;
    width: -moz-fit-content;
    width: fit-content;
    font-style: italic;
    max-width: 537px;
    overflow-wrap: break-word;
    border-radius: 15px;
}

span#chat_msg {
    display: inline-flex;
    text-align: center;
}

p.messageTextOthers {
    background-color: #22ab30ab;
    color: white;
    padding: 6px;
    width: -moz-fit-content;
    width: fit-content;
    font-style: italic;
    max-width: 537px;
    overflow-wrap: break-word;
    border-radius: 15px;
}

.btn-success {
    color: #fff;
    background-color: #7d0c58;
    border-color: #28a745;
}